%h1 Listing products


- @products.each do |product|
  .product_list
    %h2= link_to product.name, product
    .post_imgs
      = image_tag product.images_urls(:card)[0]
    %small.cat
      Category - #{product.category.name}
    %p= truncate(product.desc, length: 75)


