%h1 Listing products


- @products.each do |product|
  .product_list
    %h2= link_to product.name, product
    %small.cat
      Category - #{product.category.name}
    %p= product.desc
    .post_imgs
      - product.images_urls(:card).each do |image|
        = image_tag image